:root {
  --bg: #0a0a0a;
  --text-subtle: #b0bec5;
  --grad: linear-gradient(135deg, #fff3c4, #ffca28, #f57c00);
}

.hero {
  display: grid;
  place-items: center;
  align-content: start;
  gap: 1.5rem;
  min-height: 60rem;
  padding: 6rem 10% 4rem;
  text-align: center;
  color: white;

  background-image: linear-gradient(
    to top,
    transparent,
    rgba(10, 10, 10, 1) 60%
  );
}

.hero h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  background: var(--grad);
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 25px rgba(255, 202, 40, 0.25);
}

.hero p {
  font-size: 1.2rem;
  color: white;
}
